<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<%= javascript_pack_tag 'requests', 'data-turbolinks-track': 'reload' %>
<% provide(:title, 'Booking') %>
<div class='formbooking'>

    <%= form_for (@request) do |f| %>
      <div class="form-day">
        <div class="form-day1">
          <%= f.label :Checkin %>
          <%= f.date_field :day_start, class: "day_start", id: "day_start", :required => true %>
        </div>
        <div class="form-day2">
          <%= f.label :Checkout %>
          <%= f.date_field :day_end , :required => true%>
        </div>
      </div>

          <%= f.hidden_field :price, value: @tour.price %>
          <%= f.hidden_field:tour_id, value: @tour.id %>

        <div class="ques-father">
          <div class="ques">
           <%= f.label :Guest %>
           <%= f.number_field :gues %><br>
          </div>
        </div>
        <div class="tongtien-father">
          <div class="tongtien">
           <%= f.label :Price %>
           <%= f.text_field :tour_price, value: @tour.price %><br>
          </div>
        </div>
        <div class="btn-father">
          <div class="btn">
            <%= f.submit "         Booking  now          ", class: "btn btn-danger", id: "special" %>
          </div>
        </div>
        <% end %>
</div>
