<div class="index-tours-sheet">
  <div class="header-sheet">
    <div class="s-title">
      <span>Hơn 300 chỗ ở</span>
    </div>
    <div class="b-title">
      <span>Chỗ ở tại Hà Nội</span>
    </div>
    <div class="filter">
      <div class="filter-m">
        <div class="filter-f">

          <div class="buttonx">
            <button class="button" type="button">
              <div class="text-in-b">Tùy chọn không hoạt</div>
            </button>
            <button class="button" type="button">
              <div class="text-in-b">Loại nơi ở</div>
            </button>
            <button class="button" type="button">
              <div class="text-in-b">Giá</div>
            </button>
            <button class="button" type="button">
              <div class="text-in-b">Bộ lọc khác</div>
            </button>
          </div>

          <div class="map">
            <img src="../assets/map.svg" width="20px" height="20px">
            <span>Hiện bản đồ</span>
          </div>
        </div>
        <div class="judge">
          <div class="cup"><img width="40" height="40" src="../assets/cheer.gif"></div>
          <div class="amount">Hơn 75.000 khách đã ở tại Hà Nội.</div>
          <div class="rates">Trung bình họ xếp hạng chỗ ở của mình ở mức 4.7/5 sao.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="body-sheet">
    <div class="content-tour">
      <% @tours.each do |tour|%>
      <div class="container">
        <div class="mar-container">
          <a href="#">

            <div class="frame-image">
              <img class="image" src="../assets/house.png">
            </div>
            <div class="star"><img src="../assets/star.svg" width="15px"height="15px"> 4.50 <span>(12)</span></div>
            <div class="infor"><%= tour.title %><%= tour.address %></div>
            <div class="infor"><span><%= tour.description %></span></div>
            <div class="infor"><span class="text">$<span><%= tour.price %>/đêm</span></span></div>
          </a>
        </div>
      </div>
      <%end%>
    </div>
    <div class="paginate"><%= will_paginate %></div>
  </div>
  <div class="footer-sheet">
    <div class="m-infor">
      <div class="m-title">Đã duyệt gần đây</div>
      <div class="s-title">Ngày và giá cả đã được cập nhật cho phù hợp với nội dung tìm kiếm hiện tại của bạn.</div>
      <div class="m-tour">
      </div>

    </div>
    <div class="tax"><span class="tax-s">Nhập ngày để xem giá đầy đủ. Áp dụng phụ phí. Có thể phát sinh thuế.</span></div>
  </div>
</div>
