<% provide(:title, 'All requests') %>
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">All requests</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="http://127.0.0.1:3000/admin/index">Home</a></li>
          <li class="breadcrumb-item active">Starter Page</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<ul class="requests">
  <% @requests.each do |request|%>
  <div class="info">
    <div class="info-iii"><%= link_to gravatar_for(current_user, size:60)%></div>
    <div class="info-i"><%=request.user.name%></div>
    <div class="info-i"><%=request.user.email%></div>
    <div class="info-i"><%=request.tour.title%></div>
    <div class="info-i"><%=request.tour.address%></div>
    <div class="info-ii"><%=request.status%></div>
    <div class="info-ii"><%= link_to "View", admin_request_url(request)%></div>
  </div>
  <%end%>
</ul>
