<div><span class="tt">Tên Khách Hàng:</span><%= @request.user.name %></div>
<div><span class="tt">Email:</span><%= @request.user.email %></div>
<div><span class="tt">Chuyến đi:</span><%= @request.tour.title %></div>
<div><span class="tt">Đại điểm:</span><%= @request.tour.address %></div>
<div><span class="tt">Quy định:</span><%= @request.tour.rules %></div>
<div>
  <span class="tt">Phê duyệt:</span>
  <button class="btton btton--pre">
    <%= @request.status %>
  </button>
</div>
<div class="sheet">
  <section>
    <div class="journey">
      <h2 class="_14i3z6h">Chuyến đi</h2>
      <div class="_1oc06va">
        <button  class="btton btton--future">Sắp tới</button>
        <button  class="btton btton--past">Trước đây</button>
      </div>
    </div>
    <img src="../../assets/tour.png">
  </section>
</div>
