<style> </style>
<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <%= link_to image_tag("DS.jpeg", alt: "Rails logo", width: "200px"),"https://rubyonrails.org/" %>
    </div>

    <div class="center">
      <ul class="nav navbar-nav">
        <li class="home"><h3><a href="#"> Home       </a></h3></li>
        <ul class="dropdown-menu">
          <li><%= link_to "Profile", "#" %></li>
          <li><%= link_to "Settings", '#' %></li>
          <li class="divider"></li>
          <li>
          <%= link_to "Log out", method: :delete %>
          </li>
          </ul>
        <li clas="dattua"><h3><a href="#"> Đặt tour         </a></h3></li>
        <li class="diem"><h3><a href="#"> Điểm đến hấp dẫn </a></h3></li>
        <li>
          <a>
            <div class="form-group has-feedback">
              <input type="text" class="form-control inputValidation" placeholder="Tìm kiếm" />
              <span class="glyphicon glyphicon-search form-control-feedback" onclick="document.forms['frmseach_doc'].action='/index.php/search';document.forms['frmseach_doc'].submit();">
              </span>
            </div>
          </a>
        </li>
      </ul>
    </div>


    <div>
          <li><a href="#"> <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %> </a></li>
    </div>


  </div>
</nav>
